
# Debugging

xdebug.remote_connect_back = true
xdebug.remote_enable = true
xdebug.remote_handler = dbgp

#xdebug.remote_mode = jit

#xdebug.remote_log = /tmp/xdebug.log
#xdebug.remote_log_level = 7

# Profiler
xdebug.profiler_enable_trigger = 1
xdebug.profiler_output_name = cachegrind.out.%u_%R
xdebug.profiler_output_dir = /xdebug/profiles

# Tracer
xdebug.trace_enable_trigger = true
xdebug.trace_output_name = trace.%u_%R

#xdebug.collect_assignments = false
xdebug.collect_params = 4
xdebug.collect_return = true
xdebug.trace_format = 1

xdebug.trace_output_dir = /xdebug/traces
