
# General
xdebug.mode = develop,debug,profile,trace
xdebug.start_with_request=trigger

xdebug.output_dir = /xdebug

xdebug.client_host = 172.17.0.1
xdebug.discover_client_host = true
xdebug.client_port = 9000
# Debugging


#xdebug.start_upon_error=yes

#xdebug.log = /xdebug/xdebug.log
#xdebug.log_level = 7

# Profiler
xdebug.profiler_output_name = profiles/cachegrind.out.%u_%R

# Tracer
xdebug.trace_output_name = traces/trace.%u_%R
xdebug.trace_format = 1

#xdebug.collect_assignments = false
xdebug.collect_return = true

